{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <div class="col-md-8 offset-2">

        {% comment %} <h1 class="mb-5">Şifre değiştirme</h1> {% endcomment %}
        
        
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
           
            <h1>E-posta başarıyla gönderildi.</h1>
            
            <div>
              Lütfen şifre sıfırlama bağlantısı için gelen kutunuzu kontrol edin.
            </div>
            
          </div>
        </div>

        </div>       
      </div>
{% endblock content %}